<h4 class="text-center" style="margin-top:20px;"><b>Chi tiết bài viết</b></h4>

<form action="" method="POST" role="form" style="margin-bottom:20px;">
    <div class="form-group">
        <label for="exampleFormControlSelect1">ID BVCD</label>
        <input readonly style="width:150px;" class="form-control" id="ID_BVCD" name="ID_BVCD" value="{{this.xemchitiet.ID_BVCD}}">
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">ID BVPV</label>
        <input readonly style="width:150px;" class="form-control" id="ID_BVPV" name="ID_BVPV" value="{{this.xemchitiet.ID_BVPV}}">
    </div>
    
    <div class="form-group">
        <div class="input-group">
            <div>
                <label for="exampleFormControlSelect1">Chuyên mục</label>
                <select class="form-control" id="TenChuyenMuc" name="TenChuyenMuc">
                    <option value="{{this.xemchitiet.TenChuyenMuc}}">{{this.xemchitiet.TenChuyenMuc}}</option>
                </select>
            </div>
            <div style="margin-left:20px;">
                <label for="exampleFormControlSelect1">ID Chuyên mục</label>
                <input type="text" class="form-control" id="ID_ChuyenMuc" name="ID_ChuyenMuc"
                    value="{{this.xemchitiet.ID_ChuyenMuc}}">
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="input-group">
            <div>
                <label for="exampleFormControlSelect1">Chuyên mục con</label>
                <select class="form-control" id="ChuyenMucCon" name="ChuyenMucCon">
                    <option value="{{this.xemchitiet.ChuyenMucCon}}">{{this.xemchitiet.ChuyenMucCon}}</option>
                </select>
            </div>
            <div style="margin-left:20px;">
                <label for="exampleFormControlSelect1">ID Chuyên mục con</label>
                <input type="text" class="form-control" id="ID_CMC" name="ID_CMC" value="{{this.xemchitiet.ID_CMC}}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Tên bài viết</label>
        <input class="form-control" id="TenBaiViet" name="TenBaiViet" value="{{this.xemchitiet.TenBaiViet}}">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Các tag</label>
        <div class="input-group">
            <input type="text" class="form-control" id="tag1" name="tag1" value="{{this.xemchitiet.Tag1}}">
            <input type="text" class="form-control" id="tag2" name="tag2" value="{{this.xemchitiet.Tag2}}">
            <input type="text" class="form-control" id="tag3" name="tag3" value="{{this.xemchitiet.Tag3}}">
        </div>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Tóm tắt</label>
        <textarea class="form-control" id="TomTat" name="TomTat" rows="3">{{this.xemchitiet.TomTat}}</textarea>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Ảnh đại diện</label>
        <textarea class="form-control" id="AnhDaiDien" name="AnhDaiDien"
            rows="3">{{this.xemchitiet.AnhDaiDien}}</textarea>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Tiêu đề ảnh</label>
        <textarea class="form-control" id="TieuDeAnh" name="TieuDeAnh" rows="3">{{this.xemchitiet.TieuDeAnh}}</textarea>
    </div>

    <div class="form-group" style="height:auto;">
        <label for="exampleFormControlTextarea1">Nội dung</label>
        <textarea class="form-control" id="NoiDung" name="NoiDung" rows="50">{{this.xemchitiet.NoiDung}}</textarea>
        <script>
            CKEDITOR.replace('editor1');
        </script>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Tình trạng</label>
        <textarea class="form-control" id="TinhTrang" name="TinhTrang" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Ghi chú</label>
        <textarea class="form-control" id="GhiChu" name="GhiChu" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Ngày duyệt</label>
        <input class="form-control" id="NgayDang" name="NgayDang">
    </div>
    
    <div style="text-align:center;margin-top: 50px;margin-bottom: 50px;">
        <button formaction="/bientapvien/xemchitiet/duyet" style="width:150px;" type="submit"
            class="btn btn-outline-primary"><i class="fas fa-check" style="margin-right:10px;"></i></i>Duyệt</button>
        <button formaction="/bientapvien/xemchitiet/tuchoi" style="width:150px;" type="submit"
            class="btn btn-outline-danger"><i class="far fa-window-close" style="margin-right:10px;"></i>Từ
            chối</button>
    </div>
</form>