<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    {{{_sections.css}}}
    <title>TH16 NEWS</title>
</head>

<body>
    <div>
        <h4 class="text-center"><a style="text-decoration: none;color:red" href="/"><b class="text-align center">Báo
                    điện tử - TH16 NEWS</b></a>
        </h4>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-danger" style="height: 51px;">
            <a class="navbar-brand" href="/"><b style="color:white;">TH16 NEWS</b></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0" method="POST">
                    <input style="height: 27px;" class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm"
                        name="txtsearch" id="search">
                    <button style="width:50px;;height: 27px;padding:0;font-size:11px;" formaction="/ketquatimkiem/submit"
                        class="btn btn-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <ul class="navbar-nav mr-auto" style="height: 40px;">
                {{#if isAuthenticated}}
                <li class="nav-item">
                    <a href="/taikhoan/dangnhap" style="text-decoration: none;color:white"><i class="far fa-user fa-sm"
                            style="margin-top:12px;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taikhoan/dangnhap">
                        <p style="color:white;">{{authUser.HoTen}}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taikhoan/dangxuat">
                        <p style="color:white;">Đăng xuất</p>
                    </a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/taikhoan/dangnhap" style="text-decoration: none;color:white"><i class="far fa-user fa-sm"
                            style="margin-top:12px;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taikhoan/dangnhap">
                        <p style="color:white;">Đăng nhập</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taikhoan/dangky">
                        <p style="color:white;">Đăng ký</p>
                    </a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>
    <hr>
    <div class="container" style="padding: 0px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:100%;">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {{#each lcChuyenmuc}}
                    <li
                        class="nav-item dropdown {{#if isActive}}border-bottom border-danger active font-weight-bold{{/if}}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ChuyenMuc}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/chuyenmuc/{{ID}}/baiviet">{{ChuyenMuc}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/chuyenmuc/{{ID}}/{{ID_CMC1}}/baiviet">{{CMC1}}</a>
                            <a class="dropdown-item" href="/chuyenmuc/{{ID}}/{{ID_CMC2}}/baiviet">{{CMC2}}</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        {{{body}}}
    </div>

    <div class="fter bg-dark text-light align-text-bottom " style="margin-top:50px;">
        <div class="container">
            <div class="row">
                <div class="col-sm" style="margin-top:13px;color:azure;">
                    <h5>TH16 NEWS<h5>
                            <h6>Thiết kế:</h6>
                            <h6>Phan Văn Hậu</h6>
                            <h6>Lưu Nhất Hàn</h6>
                            <div style="padding-bottom: 26px;color:azure;">
                                <i class="fa fa-copyright" aria-hidden="true"> Copyright 2019 TH16 NEWS</i>
                            </div>
                </div>
                <div class="col-sm" style="margin-top:13px;">
                    <h6>Liên hệ</h6>
                    <a style="text-decoration: none;color:azure;"
                        href="https://www.facebook.com/mrhauphan">https://www.facebook.com/mrhauphan</a>
                    <a style="text-decoration: none;color:azure;"
                        href="https://www.facebook.com/nhathan.luu.5">https://www.facebook.com/nhathan.luu.5</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {{{_sections.js}}}
</body>

</html>