<div class="container">
    <h4 class="text-center" style="margin-top:40px;margin-bottom:20px;">Danh sách biên tập viên</h4>
    <form action="" method="POST" role="form" style="margin-bottom:20px;">
        <div class="row">
            <div class="col-1">
                <input type="text" class="form-control" id="stt" name="ID" placeholder="STT">
            </div>
            <div class="col-2.5">
                <input type="text" class="form-control" id="email" name="Email" placeholder="Email">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" id="ht" name="HoTen" placeholder="Họ tên">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" id="ns" name="NgaySinh" placeholder="Ngày sinh">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" id="cmnd" name="CMND" placeholder="CMND/Hộ chiếu">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" id="sdt" name="Sdt" placeholder="Số điện thoại">
            </div>
            <div style="margin-top:10px;" class="col-2">
                <input type="text" class="form-control" placeholder="Bút danh" name="ButDanh" id="bd">
            </div>
            <div style="margin-top:10px;" class="col-3">
                <input type="text" class="form-control" placeholder="Chuyên mục quản lý" name="ChuyenMucQl" id="cm">
            </div>
        </div>
        <div style="margin-top:20px;">
            <button formaction="/admin/bientapvien/add" style="width:150px;" type="submit" class="btn btn-outline-primary"><i class="fas fa-plus"
                    style="margin-right:10px;"></i>Thêm</button>
            <button formaction="/admin/bientapvien/delete" style="width:150px;" type="submit" class="btn btn-outline-danger"><i class="fas fa-trash-alt"
                    style="margin-right:10px;"></i>Xóa</button>
            <button formaction="/admin/bientapvien/update" style="width:150px;" type="submit" class="btn btn-outline-success"><i class="fas fa-pen"
                    style="margin-right:10px;"></i>Cập
                nhật</button>
        </div>
    </form>
    <table class="table table-bordered table-hover" id="tbl">
        <thead style="text-align:center;">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>CMND/Hộ chiếu</th>
                <th>Số điện thoại</th>
                <th>Bút danh</th>
                <th>Chuyên mục quản lý</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.bientapvien}}
            <tr>
                <th scope="row">{{ID}}</th>
                <td>{{Email}}</td>
                <td>{{HoTen}}</td>
                <td>{{NgaySinh}}</td>
                <td>{{CMND}}</td>
                <td>{{Sdt}}</td>
                <td>{{ButDanh}}</td>
                <td>{{ChuyenMucQL}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    var tb = document.getElementById("tbl");
    for (let i = 1; i < tb.rows.length; i++) {
        tb.rows[i].onclick = function () {
            document.getElementById("stt").value = this.cells[0].innerHTML;
            document.getElementById("email").value = this.cells[1].innerHTML;
            document.getElementById("ht").value = this.cells[2].innerHTML;
            document.getElementById("ns").value = this.cells[3].innerHTML;
            document.getElementById("cmnd").value = this.cells[4].innerHTML;
            document.getElementById("sdt").value = this.cells[5].innerHTML;
            document.getElementById("bd").value = this.cells[6].innerHTML;
            document.getElementById("cm").value = this.cells[7].innerHTML;
        };
    }
</script>