<div class="danh-sach" style="margin-top:30px;">
    <div class="tag-list">
        <ul style="margin-bottom: 0rem;" class="list-inline">
            <li class="list-inline-item">
                <h4><a style="text-decoration: none;color: black;"
                        href="ThoiSu.html"><b>{{this.cmc.ChuyenMucCon}}</b></a></h4>
            </li>
            <li class="list-inline-item">
                <a style="margin-bottom: 5px;background:white;color: black" class="btn btn-primary btn-sm" href="#"
                    role="button">Biển Hội An</a>
            </li>
            <li class="list-inline-item">
                <a style="margin-bottom: 5px;background:white;color: black" class="btn btn-primary btn-sm" href="#"
                    role="button">Cá chết kênh Nhiêu Lộc - Thị Nghè</a>
            </li>
            <li class="list-inline-item">
                <a style="margin-bottom: 5px;background:white;color: black" class="btn btn-primary btn-sm" href="#"
                    role="button">Cưỡng chế nhà kho xây dựng trái phép</a>
            </li>
        </ul>
    </div>

    <ul class="list-group list-group-flush">
        {{#each  this.baiviet}}
        <li class="list-group-item">
            <div class="ban-tin">
                <ul class="list-inline">
                    <li class="list-inline-item" style="width:410px;height:240px;">
                        <a
                            href="https://tuoitre.vn/ma-tuy-da-tu-tam-giac-vang-ky-1-thu-phu-ma-tuy-da-20190416103206007.htm">
                            <img src="{{AnhDaiDien}}" alt="" style="width: 390px;height: 240px;">
                        </a>
                    </li>
                    <li class="list-inline-item" style="vertical-align:top;height:240px;">
                        <a href="https://tuoitre.vn/ma-tuy-da-tu-tam-giac-vang-ky-1-thu-phu-ma-tuy-da-20190416103206007.htm"
                            style="text-decoration: none;color: black">
                            <h5 style="width:645px;height:auto;">{{TieuDe}}</h5>
                        </a>
                        <p style="width:645px;height:auto;">{{TomTat}}</p>
                        <div class="nhan">
                            <h6>{{TenChuyenMuc}}</h6>
                            <span title="{{NgayDang}}">{{NgayDang}}</span>
                    </li>
                </ul>
            </div>
        </li>
        {{/each}}
    </ul>
    <div class="" style="display:flex; justify-content: center;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                {{#each this.pages}}
                {{#if active}}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
                </li>
                {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                </li>
                {{/if}}
                {{/each}}
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>