<div class="danh-sach" style="margin-top:30px;">
    <div class="tag-list">
        <ul style="margin-bottom: 0rem;" class="list-inline">
            <li class="list-inline-item">
                <h6>Xem theo tag: </h6>
            </li>
            <li class="list-inline-item">
                <h4>
                    <b>{{this.tag}}</b>
                </h4>
            </li>
        </ul>
    </div>

    <ul class="list-group list-group-flush">
        {{#each  this.baiviet}}
        <li class="list-group-item">
            <div class="ban-tin">
                <ul class="list-inline">
                    <li class="list-inline-item" style="width:410px;height:240px;">
                        <a href="/chitietbaiviet/{{ID}}">
                            <img src="{{AnhDaiDien}}" alt="" style="width: 390px;height: 240px;">
                        </a>
                    </li>
                    <li class="list-inline-item" style="vertical-align:top;height:240px;">
                        <a href="/chitietbaiviet/{{ID}}" style="text-decoration: none;color: black">
                            <h5 style="width:645px;height:auto;">{{TieuDe}}</h5>
                        </a>
                        <p style="width:645px;height:auto;">{{TomTat}}</p>
                        <div class="nhan">
                            <h6>{{TenChuyenMuc}}</h6>
                            <span title="{{format NgayDang}}">{{format2 NgayDang}}</span>
                    </li>
                </ul>
            </div>
        </li>
        {{/each}}
    </ul>
</div>