<h4 class="text-center" style="margin-top:40px;margin-bottom:20px;">Danh sách bài viết</h4>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên bài viết</th>
            <th>ID Chuyên mục</th>
            <th>ID Chuyên mục con</th>
            <th>Tình trạng</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.dsbaiviet}}
        <tr>
            <td>{{ID}}</td>
            <td>{{TenBaiViet}}</td>
            <td>{{ID_ChuyenMuc}}</td>
            <td>{{ID_CMC}}</td>
            <td>{{TinhTrang}}</td>
            <td>{{GhiChu}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>