{{#section 'cssbtv'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'jsbtv'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
    $(function () {
        $('#ns').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });
    })
</script>
{{/section}}


<h4 class="text-center" style="margin-top:40px;margin-bottom:20px;">Danh sách tài khoản</h4>
<form action="" method="POST" role="form" style="margin-bottom:20px;">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="txttsttendn">ID</label>
                <input readonly type="text" class="form-control" id="stt" name="ID">
            </div>
            <div class="form-group">
                <label for="ht">Quyền</label>
                <input  type="text" class="form-control" id="quyen" name="Quyen">
            </div>
        </div>
    </div>

    <div style="margin-top:20px;">
        <button formaction="/admin/qltaikhoan/update" style="width:150px;" type="submit"
            class="btn btn-outline-success"><i class="fas fa-pen" style="margin-right:10px;"></i>Cập
            nhật</button>
    </div>
</form>

<table class="table table-bordered table-hover" id="tbl">
    <thead style="text-align:center;">
        <tr>
            <th>ID</th>
            <th>Tên đăng nhập</th>
            <th>Email</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Quyền</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.taikhoan}}
        <tr>
            <td>{{ID}}</td>
            <td>{{TenDangNhap}}</td>
            <td>{{Email}}</td>
            <td>{{HoTen}}</td>
            <td>{{format3 NgaySinh}}</td>
            <td>{{Quyen}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    var tb = document.getElementById("tbl");
    for (let i = 1; i < tb.rows.length; i++) {
        tb.rows[i].onclick = function () {
            document.getElementById("stt").value = this.cells[0].innerHTML;
            document.getElementById("quyen").value = this.cells[5].innerHTML;
        };
    }
</script>