<h4 class="text-center" style="margin-top:40px;margin-bottom:20px;">Danh sách bài viết đã và đang phát hành</h4>

<form action="" method="POST" role="form" style="margin-bottom:20px;">
    <div class="row">
        <div class="col-2">
            <div class="form-group">
                <label for="stt">ID</label>
                <input type="text" readonly class="form-control" id="ID" name="ID" placeholder="ID">
            </div>
        </div>
    </div>
    <div>
        <button style="width:150px;" type="submit" class="btn btn-outline-danger" formaction="/admin/dsbaiviet/xoa">
            <i class="fas fa-trash-alt" style="margin-right:10px;"></i>Xóa</button>
    </div>
</form>

<table class="table table-bordered table-hover" id="tbl">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên bài viết</th>
            <th>Chuyên mục</th>
            <th>ID Chuyên mục</th>
            <th>Chuyên mục con</th>
            <th>ID Chuyên mục con</th>
            <th>Ngày đăng</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.dsbaiviet}}
        <tr>
            <td>{{ID}}</td>
            <td>{{TenBaiViet}}</td>
            <td>{{TenChuyenMuc}}</td>
            <td>{{ID_ChuyenMuc}}</td>
            <td>{{ChuyenMucCon}}</td>
            <td>{{ID_CMC}}</td>
            <td>{{format NgayDang}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    var tb = document.getElementById("tbl");
    for (let i = 1; i < tb.rows.length; i++) {
        tb.rows[i].onclick = function () {
            document.getElementById("ID").value = this.cells[0].innerHTML;
        };
    }
</script>