<div style="width:913px;margin-left:90px;">
    <div class="chuyenmuc" style="margin-top:20px;">
        <h4>{{this.baivietchitiet.TenChuyenMuc}}</h4>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-8 content">
            <div class="tieu-de">
                <p style="color: #e32;font-size:x-large;font-family:Arial;">
                    <b>
                        {{this.baivietchitiet.TenBaiViet}}
                    </b>
                </p>
            </div>
            <div class="ngay">
                <p style="color:slategray"> {{this.baivietchitiet.NgayDang}}</p>
            </div>

            <div class="tom-tat">
                <p style="font-size:large;font:Arial;">
                    <b>
                        {{this.baivietchitiet.TomTat}}
                    </b>
                </p>
            </div>
            <div class="chi-tiet-bai-viet">
                <br><br>
                <div class="img">
                    <img style="width:586px;height:382px;" src=" {{this.baivietchitiet.AnhDaiDien}}">
                </div>
                <div style="background:#e9e9e9;width:586px;">
                    <p style="font-size: 8pt;color: slategray;padding:5px;">
                        {{this.baivietchitiet.TieuDeAnh}}
                    </p>
                </div>
                <div>
                    <p style="font: Arial;width: inherit">
                        {{this.baivietchitiet.NoiDung}}
                    </p>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <b> {{this.baivietchitiet.BienTapVien}} </b>
            </div>

            <div class="tag-list" style="margin-top:25px;margin-bottom: 25px;">
                <ul style="margin-bottom: 0rem;" class="list-inline">
                    <li class="list-inline-item">
                        <input readonly style="margin-bottom:5px;background:#e9e9e9;color: black;border:none;"
                            class="btn btn-primary btn-sm" href="#" name="Tag1" role="button" value="{{this.baivietchitiet.Tag1}}">
                    </li>
                    <li class="list-inline-item">
                        <input readonly style="margin-bottom: 5px;background:#e9e9e9;color: black;border:none;"
                            class="btn btn-primary btn-sm" href="#" name="Tag2" role="button" value="{{this.baivietchitiet.Tag2}}">
                    </li>
                    <li class="list-inline-item">
                        <input readonly style="margin-bottom: 5px;background:#e9e9e9;color: black;border:none;"
                            class="btn btn-primary btn-sm" href="#" name="Tag3" role="button" value="{{this.baivietchitiet.Tag3}}">
                    </li>
                </ul>
            </div>

            <div class="binh-luan">
                <h4><b>Bình luận</b></h4>
                <br>
                <div>
                    <p>Ý kiến của bạn:</p>
                    <textarea class="form-control" rows="auto" id="comment"></textarea>
                    <div class="d-flex justify-content-end">
                        <button type="button"
                            style="width:100px;text-align: center;margin-top: 10px;margin-bottom: 10px;"
                            class="btn btn-success">Bình
                            luận</button>
                    </div>
                </div>
            </div>

            <div class="danh-sach-binh-luan" style="margin-bottom:15px;">
                <h5 style="margin-top:15px;">Bình luận của đọc giả:</h5>
                <br>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6 style="color:red;">
                            <i class="fa fa-user" style="margin-right: 8px;color:lightgray;margin-top: 12px;"></i>
                            Phan Văn Hậu
                        </h6>
                        <h6>Mấy đứa được nâng điểm trong đó chắc có con cháu ổng</h6>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <i class="fas fa-thumbs-up"></i>
                            </li>
                            <li class="list-inline-item">
                                <h6>
                                    77
                                </h6>
                            </li>
                        </ul>
                        <span>20-4-20119 16:15</span>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="col-sm-4">
            <h5 style="color: black;">Các bài viết liên quan</h5>
            <div class="list-group list-group-flush">
                {{#each this.bailienquan}}
                <div class="list-group-item" style="width: 80%">
                    <a
                        href="/chitietbaiviet/{{ID}}"><img
                            src="{{AnhDaiDien}}"
                            style="width: 100%">
                    </a>
                    <a style="text-decoration: none;color: black;"
                        href="/chitietbaiviet/{{ID}}">
                        <h6 style="padding-top: 8px;">{{TenBaiViet}}</h6>
                    </a>
                    <span title="{{NgayDang}}">{{NgayDang}}</span>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>