<div style="margin-bottom:20px;text-align:center;margin-top:30px;">
    <h4>Tài khoản của tôi</h4>
</div>
<hr>
<div class="row">
    <div class="col-sm-6" style="padding-right:220px;">
        <div class="form-group">
            <label for="disabledTextInput">ID</label>
            <input readonly type="text" name="ID" class="form-control" value="{{authUser.ID}}">
        </div>
        <div class="form-group">
            <label for="disabledTextInput">Tên đăng nhập</label>
            <input readonly type="text" name="TenDangNhap" class="form-control" value="{{authUser.TenDangNhap}}">
        </div>
        <div class="form-group">
            <label for="disabledTextInput">Email</label>
            <input readonly type="text" name="Email" class="form-control" value="{{authUser.Email}}">
        </div>
        <div class="form-group">
            <label for="disabledTextInput">Họ tên</label>
            <input readonly type="text" name="HoTen" class="form-control" value="{{authUser.HoTen}}">
        </div>
        <div class="form-group">
            <label for="">Ngày sinh</label>
            <input readonly type="text" class="form-control" id="txtngaysinh" name="NgaySinh"
                value="{{format3 authUser.NgaySinh}}">
        </div>
        {{#if isDG}}
        <div class="form-group">
            <label for="">Số ngày còn lại</label>
            <input readonly type="text" class="form-control" name="NgayConLai" value="{{ authUser.NgayConLai}}">
        </div>
        {{/if}}

        {{#if isBTV}}
        <div class="form-group">
            <label for="">Bút danh</label>
            <input readonly type="text" class="form-control" value="{{authUser.ButDanh}}">
        </div>
        <div class="form-group">
            <label for="">Chuyên mục quản lý</label>
            <input readonly type="text" class="form-control" value="{{ authUser.ID_CMQL}}">
        </div>
        <div class="form-group">
            <label for="">Bài viết đang chờ duyệt</label>
            <a href="" role="button"></a>
        </div>
        {{/if}}
        <div style="text-align:center;margin-top:20px;">
            <a href="hosocanhan/capnhathoso">
                <button style="width:180px;" type="button" class="btn btn-danger">Cập nhật thông tin</button>
            </a>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            {{#if isAdmin}}
            <label for=""><b>Danh sách chức năng</b></label>
            <div>
                <div class="list-group list-group-flush">
                    <a href="/taikhoan/doimatkhau/{{authUser.ID}}" class="list-group-item list-group-item-action"><i class="fas fa-key"
                            style="margin-right:10px;"></i>Đổi mật khẩu</a>
                    <a href="/admin/qltaikhoan" class="list-group-item list-group-item-action"><i class="fas fa-users"
                            style="margin-right:10px;"></i>Tài khoản</a>
                    <a href="/admin/bientapvien" class="list-group-item list-group-item-action"><i
                            class="fas fa-user-edit" style="margin-right:10px;"></i>Biên tập viên</a>
                    <a href="/admin/chuyenmuc" class="list-group-item list-group-item-action"><i class="fas fa-list-ol"
                            style="margin-right:10px;"></i>Chuyên mục</a>
                    <a href="/admin/docgia" class="list-group-item list-group-item-action"><i class="fas fa-book-reader"
                            style="margin-right:10px;"></i>Đọc giả</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-tags"
                            style="margin-right:10px;"></i>Tag</a>
                    <a href="/admin/phongvien" class="list-group-item list-group-item-action"><i class="fas fa-camera"
                            style="margin-right:10px;"></i>Phóng viên</a>
                    <a href="/admin/duyetbaiviet" class="list-group-item list-group-item-action"><i
                            class="fas fa-vote-yea" style="margin-right:10px;"></i>Duyệt bài viết</a>
                    <a href="/admin/dsbaiviet" class="list-group-item list-group-item-action"><i class="fas fa-th-list"
                            style="margin-right:10px;"></i>Danh sách bài viết</a>
                </div>
            </div>
            {{/if}}

            {{#if isBTV}}
            <label for=""><b>Danh sách chức năng</b></label>
            <div>
                <div class="list-group list-group-flush">
                    <a href="/taikhoan/doimatkhau/{{authUser.ID}}" class="list-group-item list-group-item-action"><i class="fas fa-key"
                            style="margin-right:10px;"></i>Đổi mật khẩu</a>
                    <a href="/bientapvien/duyetbaiviet/{{authUser.ID_CMQL}}"
                        class="list-group-item list-group-item-action"><i class="fas fa-th-list"
                            style="margin-right:10px;"></i>Các bài viết chờ duyệt</a>
                </div>
            </div>
            {{/if}}

            {{#if isPV}}
            <label for=""><b>Danh sách chức năng</b></label>
            <div>
                <div class="list-group list-group-flush">
                    <a href="/taikhoan/doimatkhau/{{authUser.ID}}" class="list-group-item list-group-item-action"><i class="fas fa-key"
                            style="margin-right:10px;"></i>Đổi mật khẩu</a>
                    <a href="/writer/dsbaiviet/{{authUser.ID}}" class="list-group-item list-group-item-action"><i
                            class="fas fa-th-list" style="margin-right:10px;"></i>Các bài viết đang chờ duyệt</a>
                    <a href="/writer/dangbaiviet" class="list-group-item list-group-item-action"><i
                            class="fas fa-pen-alt" style="margin-right:10px;"></i>Đăng bài viết</a>
                </div>
            </div>
            {{/if}}

            {{#if isDG}}
            <label for=""><b>Danh sách chức năng</b></label>
            <div>
                <div class="list-group list-group-flush">
                    <a href="/taikhoan/doimatkhau/{{authUser.ID}}" class="list-group-item list-group-item-action"><i class="fas fa-key"
                            style="margin-right:10px;"></i>Đổi mật khẩu</a>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>